.contentStock{
    display: grid;
    grid-template-columns:repeat(3,1fr) ;
}
.titleMain{
    color: #fff;
}
.headerStock{
    display: flex;
    justify-content: space-between;
}
.cargando{
    color: #fff;
}
