.btn2{
    border: 0;
    width: 30px;
    border-radius: 3px;
    margin: 1rem;
    color: white;
    background-color: rgb(56, 30, 204);
    transition: all ease .5ms;
}
.btn2:hover{
    background-color: black;
    
}
.btn3{
    border: 0;
    border-radius: 3px;
    background-color: rgb(56, 30, 204);
    color: #fff;
    transition: all ease .3ms;
}
.btn3:hover{
    background-color: black;
    
}